<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Project Testing" verbose="1">
    <test name="AutomationProject">
        <classes>
            <class name="iSkilloTesting.LoginTest"></class>
            <class name="iSkilloTesting.ModifyProfileTest"></class>
            <class name="iSkilloTesting.FollowTest"></class>
            <class name="iSkilloTesting.CreatePost"></class>
            <class name="iSkilloTesting.DeletePost"></class>
        </classes>
    </test>
</suite>